@page
@model WebApplication2.Pages.Users.CreateModel

@{
ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
    <link rel="stylesheet" href="~/css/create.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<!-- Блок с фоновым изображением и эффектом размытия -->
<div class="background-blur"></div>

<!-- Основной контент страницы -->
<div class="content container">
    <h1>Добавьте рецепт</h1>
    
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="User.Recept" class="control-label">Название рецепта</label>
                    <input asp-for="User.Recept" class="form-control" />
                    <span asp-validation-for="User.Recept" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Description" class="control-label">Опишите ваше блюдо</label>
                    <input asp-for="User.Description" class="form-control description-input" />
                    <span asp-validation-for="User.Description" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="User.Type" class="control-label">Выберите тип блюда</label>
                    <select asp-for="User.Type" class="form-control">
                        <option value="Первое блюдо">Первое блюдо</option>
                        <option value="Второе блюд">Второе блюдо</option>
                        <option value="Салат">Салат</option>
                        <option value="Десерт">Десерт</option>
                    </select>
                    <span asp-validation-for="User.Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Description" class="control-label">Введите url фото</label>
                    <input asp-for="User.Photo" class="form-control"/>
                    <span asp-validation-for="User.Photo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Sposob" class="control-label">Добавьте способ приготовления блюда</label>
                    <input asp-for="User.Sposob" class="form-control"/>
                    <span asp-validation-for="User.Sposob" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Создать" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Обратно к рецептам</a>
    </div>
</div>
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer class=" footer">
    <div class="container">
        &copy; 2024 - Все права на материалы, находящиеся на сайте RecipeManager, охраняются в соответствии с действующим законодательством. При любом использовании материалов сайта, гиперссылка (hyperlink) на RecipeManager обязательна.

        Администрация сайта не несет ответственности за результат применения приведенных кулинарных рецептов, методик их приготовления, кулинарных и прочих рекомендаций, работоспособность ресурсов, на которые размещены гиперссылки, и за содержание рекламных объявлений. Администрация сайта может не разделять мнения авторов статей, размещённых на сайте RecipeManager

    </div>
</footer>
</html>

