@page
@model IndexModel
@{
ViewData["Title"] = "Home page";
}

<div class="hero-section">
    <h1>Справочник Кулинарных Рецептов</h1>
    <p>Находи, Создавай, и Делись твоими любимыми рецептами</p>
    <a href="/Users/Index" class="btn btn-primary btn-lg">Посмотреть рецепты</a>
</div>

<div class="container mt-5">
    <h2>О нас</h2>
    <p>
        Справочник Рецептов — это лучшее место для поиска, создания и обмена рецептами. Независимо от того, являетесь ли вы опытным шеф-поваром или только начинаете, у нас найдется что-то для каждого. Присоединяйтесь к нашему сообществу и начните готовить уже сегодня!
    </p>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Все права на материалы, находящиеся на сайте RecipeManager, охраняются в соответствии с действующим законодательством. При любом использовании материалов сайта, гиперссылка (hyperlink) на RecipeManager обязательна.

        Администрация сайта не несет ответственности за результат применения приведенных кулинарных рецептов, методик их приготовления, кулинарных и прочих рекомендаций, работоспособность ресурсов, на которые размещены гиперссылки, и за содержание рекламных объявлений. Администрация сайта может не разделять мнения авторов статей, размещённых на сайте RecipeManager

    </div>
</footer>
